@model List<Order>

<!DOCTYPE html>
<html>
<head>
  
    <meta charset="UTF-8">
    <title>Order List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .order-card {
            position: relative; /* Ensure relative positioning for absolute button placement */
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

            .order-card h2 {
                margin: 0;
            }

        .order-attribute {
            margin: 5px 0;
        }

        .pick-up-button {
            position: absolute;
            bottom: 10px; /* Adjust the button's distance from the bottom */
            right: 10px; /* Adjust the button's distance from the right */
        }
    </style>
</head>

<body>
    <h1>Order List</h1>
 
    @foreach (var order in Model)
    {
        <div class="order-card">
        
            <div class="order-attribute">
                <strong>Name:</strong> @order.Name
            </div>
            <div class="order-attribute">
                <strong>Description:</strong> @order.Description
            </div>


            <div class="order-attribute">
                <strong>Released Date:</strong> @order.Released_Date.ToString("yyyy-MM-dd")
            </div>
        
            <input type="hidden" asp-for=" @order.Delivered_Date"class="form-control" />

            <div class="order-attribute">
                <strong>Pickup Address:</strong> @order.Pickup_Address
            </div>
            <div class="order-attribute">
                <strong>Destination Address:</strong> @order.Destination_Address
            </div>

            <a class="pick-up-button btn btn-primary" asp-route-id="@order.Id" asp-action="addOrderToEmployee" asp-controller="Employee">Pick Up</a>

        </div>
    }
</body>
</html>
